# Solution to Q1_ Variables

In [4]:
x = 10
print(x)

10

In [5]:
y = "Hello"
print(y)

Hello

In [26]:
a = 2
print(a)

2

In [27]:
print(type(a))

<class 'int'>

# Solution to Q2_ Data Types

In [11]:
x = 12
y = 2.3
z = "hello"
a = True
print(x)
print(y)
print(z)
print(a)

12
2.3
hello
True

In [12]:
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [13]:
m = float(12)
n = int(2.3)
t = str(12)
r = bool("hello")

In [14]:
print(m)
print(n)
print(t)
print(r)

12.0
2
12
True

In [15]:
print(type(m))
print(type(n))
print(type(t))
print(type(r))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>

# Solution to Q3_Sets

In [7]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
my_set.add(11)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [9]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_set.remove(5)
print(my_set)

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [10]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(3 in my_set)

True

In [11]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(len(my_set))

10

# Solution to Q4_Lists

In [12]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
mylist.append(11)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [14]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mylist.remove(5)
print(mylist)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [22]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(3 in mylist)

True

In [23]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mylist.pop(0)
print(mylist)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
print(len(mylist))

9

In [25]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mylist.reverse()
print(mylist)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]